nav {
    margin: 0px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    background-color: rgb(210, 210, 224);
    padding: 0px;

    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.hatsCapsBanner {
    display: inline;
    text-align: center;
    border: 12px;
    margin-bottom: 10px;
    width: 100%;
    outline: auto;
    height: 40px;
    font-size: 20px;
    letter-spacing: 8px;
    font-family: 'Bodoni Moda', serif;
}

.HATS4U {
    font-family: 'Meie Script', cursive;
    font-size: 40px;
    margin-top: 12px;
    margin-bottom: 12px;
}



body {
    margin: 0px;
    background-color: rgb(252, 247, 241);
}

.dark-mode {
    background-color: black;
    color: white;
   
    
  }

.nav-list {
    list-style: none;
    display: inline-block;
    padding: 5px;
    text-align: center
}

.nav-links {
    font-family: 'Bodoni Moda', serif;
    list-style: none;
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-left: 4rem;
    padding-left: 1rem;
}

.search-bar {
    list-style-type: none;
    position: absolute;
    right: 0;
}
.darkmode-button{
    padding-left: 1rem;
    margin-left: 5rem;
    border-radius: 75%;
    background-color: black;
    color: white;
}

a:hover {
    background-color: rgb(7, 7, 7);
    color: white;
}
.shop-now{
    background-color: orange;
    border: none; 
    color: white;
    padding: 12px 24px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    gap: 50px;
    padding-bottom: 20px;
    margin-right: 20px;
    margin-left: 5px;
    
}

.bestSellerBanner {
    font-family: 'Bodoni Moda', serif;
    letter-spacing: 2px;
    display: block;
    font-size: x-large;
    text-align: center;
    width: 100%;
    border-width: 14px;
    outline: auto;
    background-color: rgb(255, 200, 117);
    height: 100px;
    text-align: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-right: 20px;

}

.Winter-button{
background-color: orange;
border: none; 
color: white;
padding: 12px 24px; 
text-align: center; 
text-decoration: none; 
display: inline-block; 
gap: 50px;
padding-bottom: 20px;
}


.Summer-button{ 
    background-color: orange;
    border: none; 
    color: white;
    padding: 12px 24px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    gap: 50px;
    padding-bottom: 20px;
}





.Spring-button{ 
    background-color: orange;
    border: none; 
    color: white;
    padding: 12px 24px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    gap: 50px;
    padding-bottom: 20px;
    
}